.mealDetail {
    padding: 2rem 0rem;
    height: 100%;    
    background-color: rgb(217, 231, 152);
}
.details {
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    padding: 1rem;
    border-radius: 8px;
}
.details img {
    max-width: 100%;
    border-radius: 8px;
}
.details h4 {
    text-align: center;
    padding-top: 1.5rem;
}